@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.bookSearch .title {
  font-size: 12px;
}